header {
    display: flex;
    background-color: black;
    position: fixed;
    top: 0;
    height: 10vh;
    width: 100vw;
    align-items: center;
    justify-content: space-between;
    z-index: 3;
}
header h1{
    color: white;
    margin-left: 2%;
}
header img {
    /* margin-right: 4%; */
    height: 31px;
    width: 42px;
    position: absolute;
    right: 4vw;
}