.newPoem{
    display: table-column;
    background-color: white;
    max-width: 100vw;
    height: 100vh;
    max-height: 100vh;
    position: absolute;
    top: 7px;
    z-index: 5;
    transition: ease-in-out 1s;
}
.text1, .text2{
    display: table-cell;
    vertical-align: middle;
    width: 100%;
    text-align: center;
}
.text1:focus, .text2:focus {
    outline: 0;
}
.text1{
    height: 10%;
    border: none;
    font-size: 25px;
    transition: ease-in-out 1s;
}
.text2 {
    height: 79vh;
    max-width: 100vw;
    min-width: 100vw;
    resize: none;
    font-size: 25px;
    /* z-index: 4; */
}

[contenteditable][placeholder]:empty:before {
    content: attr(placeholder);
    color: gray;
}

.menuPoemPage,
.menuPoemPageHoverOff {
    height: 100vh;
    left: 1vw;
    bottom: 10px;
    transition: ease-in-out 1s;
    display: flex;
    flex-direction: column-reverse;
    position: absolute;
}

.menuPoemPageHoverOff .imgIcon {
    left: 0px;
}

.menuPoemPage:hover .imgIcon {
    left: 0 !important;
}

.imgIcon {
    background-color: black;
    width: 60px;
    height: 60px;
    border-radius: 144px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    left: -15vw;
    cursor: pointer;
    transition: ease-in-out 0.5s;
}

.imgIcon img{
    width: 39px;
    height: 37px;
}

.inputColor{
    display: none;
    position: absolute;
    left: 24vw;
    width: 47vw;
    height: 5vh;
    border-radius: 14px;
    text-align: center;
}
.btnColor{
    display: none;
    height: 4.2vh;
    width: 25vw;
    position: absolute;
    bottom: 3px;
    left: 72vw;
    border-radius: 12px;
    background-color: black;
    color: white;
}

.colorPicker{
    position: absolute;
    right: 0px;
    bottom: 16px;
}

